<ion-header>
  <ion-toolbar>
    <ion-title>contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-fab vertical="botton" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/nuevocontacto" routerDIrection="forward">
      <ion-icon name="add">
              </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let contactoItem of (contactos | async)" (click)="selectContacto(contactoItem.id)">
      <ion-label><h2>{{contactoItem.nombre}} {{contactoItem.apellido}}</h2>
      <br><p>{{contactoItem.telefono}}</p></ion-label>

    </ion-item>
  </ion-list>
     
</ion-content>
